.service-image{
    height: 80px;
    width: 80px;
    margin: 0 auto ;
    margin-top: 20px;
}
.serC{
    height: 320px;
    overflow: auto;
    border: none;
}
.serC:hover{
    /* background-color: white; */
    box-shadow: 0px 0px 18px 5px #d5d5d5;
    transition: 0.5s;
    transform: scale(1.1);
}
.apButton{
    text-align: center;
    display: block;
}

@media (max-width:576px){
   .serC:hover{
    transform: scale(1);
} 
}