.footer {
    background-color: #CA52C1;
}

.link a {
    display: block;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.link a:hover {
    color: #050505;
    transition: 0.5s;
}

.icon i:hover {
    transition: 0.5s;
    transform: scale(1.5);
    color: blue;
    cursor: pointer;
}

@media(max-width:576px) {
    .fott {
        text-align: center;
    }

    .mtt {
        margin-top: 20px;
    }
}