.professional{
    background-color: #f6f6ff;
    padding-top: 80px;
    padding-bottom: 80px;
}
.professional-image{
    height: 340px;
    width: 100%;
    border-radius: 10px;
}

/* @media(max-width:576px){
    .professional-image{
    height: 340px;
    border-radius: 10px;
}

} */